.mycontainer {
  max-width: 1100px;
  margin: 0 auto;
  background-color: white;
}

.ratingFont {
  font-family: "Franklin Gothic", -apple-system, BlinkMacSystemFont, "PT Sans",
    Arial, Sans-Serif;
  font-size: 1rem;
}
